<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
 
   <type name="Magento\Catalog\Model\Product">
 
    <plugin name="change_product_price" type="Brainvire\Deals\Plugin\Product" disabled="false" sortOrder="1" />
 
  </type>   
 
</config>